.div-search-card{
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.search{
   display: flex;
   flex-direction: column;
}

.search input{
    width: 190px;
    height: 35px;
    border-radius: 3px;
    border: 0.3px solid rgb(167, 167, 167);
    padding: 5px;
    margin: 2px 0px;
}

#search-btn{
    padding: 8px 9px;
    border-radius: 5px;
    border: 0.3px solid rgb(167, 167, 167);
    transition: 1.2;
}

#search-btn:hover{
    background-color: rgb(218, 218, 218);
}



.line-vertical{
    width: 0.1px;
    height: 80%;
    border: 0.3px solid rgb(167, 167, 167);
}

.filter{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-bottom: 0.7rem;
}

#select-options{
    width: 100%;
    margin-top: 5px;
    padding: 2px;
}