*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
}

html, body{
   min-height: 100vb;
}

body{
    background-color: rgb(160, 52, 52);
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vb;
    flex-direction: column;
    padding: 3rem;
}

i{
    pointer-events: none;
}

.hide{
    display: none; 
}