.card-task{
    width: 420px;
    max-height: 410px;
    height: 410px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: absolute;
    top: 14.2rem;
}

.task{
    background-color: rgb(239, 239, 239);
    -webkit-box-shadow: 0px 0px 16px 0px rgba(112,112,112,1);
    -moz-box-shadow: 0px 0px 16px 0px rgba(112,112,112,1);
    box-shadow: 0px 0px 16px 0px rgba(112,112,112,1);
    border-radius: 5px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    min-height: 70px;
    padding: 10px;
    margin: 3px 0px;
    position: relative;

}

.taks-title{
   width: 70%;
}


.task ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-left: 2rem;
    height: 100%;
}

.task-button-icons{
    padding: 5px;
    border: none;
    transition: 0.2s;
    font-size: 15px;
}

.task-button-icons:hover{
    color: rgb(160, 52, 52);
}

.done{
    font-style: oblique;
    text-decoration: line-through;
}

#edit-task-input{
    width: 300px;
    height: 40px;
    border: none;
    padding: 5px;
    margin-top: 3px;
    border: 0.3px solid rgb(167, 167, 167);
    border-radius: 5px;
}

.warmMenssageDoneTask{
    position: absolute;
    top: 50px;
    left: 10px;
    color: red;
    font-style: italic;
    font-size: 10px;
}